<!DOCTYPE html>
<html lang="en" ng-app="ValidateApp">
<head>
    <meta charset="UTF-8">
    <title>Day 06 Workshop</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="ValidateCtrl as ctrl">
    <!--<h1>Day 06 Workshop</h1>-->
    <div class="container">
    	<form name=validateForm novalidate ng-submit="ctrl.register()" autocomplete="off">
    		<legend>Workshop - Day06 Table</legend>
    		<div class="form-group">
    			<label for="firstName">First Name: </label>
    			<input type="text" class="form-control" name="firstName" id="firstName" placeholder="Input First Name"
                        ng-model="ctrl.firstName" ng-minlength="3" required
                        ng-class="{'highlight_valid': validateForm.firstName.$valid&&validateForm.firstName.$dirty,
                                   'highlight_invalid': validateForm.firstName.$invalid&&validateForm.firstName.$dirty}">
                <span class="error-message" ng-show="validateForm.firstName.$error.required">First name is empty:</span>
                <span class="error-message invalid_font" ng-show="validateForm.firstName.$invalid">First name is invalid:</span>
    		</div>
            <div class="form-group">
                <label for="lastName">Last Name: </label>
                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Input Last Name"
                       ng-model="ctrl.lastName" ng-minlength="3" required
                       ng-class="{'highlight_valid': validateForm.lastName.$valid&&validateForm.lastName.$dirty,
                                   'highlight_invalid': validateForm.lastName.$invalid&&validateForm.lastName.$dirty}">
                <span class="error-message" ng-show="validateForm.lastName.$error.required">Last name is empty:</span>
                <span class="error-message invalid_font" ng-show="validateForm.lastName.$invalid">Last name is invalid:</span>
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Input Password"
                       ng-model="ctrl.password" ng-minlength="8" required
                       ng-class="{'highlight_valid': validateForm.password.$valid&&validateForm.password.$dirty,
                                   'highlight_invalid': validateForm.password.$invalid&&validateForm.password.$dirty}">
                <span class="error-message" ng-show="validateForm.password.$error.required">Password is empty:</span>
                <span class="error-message invalid_font" ng-show="validateForm.password.$invalid">Password is invalid:</span>
            </div>
    		<button type="submit" class="btn btn-primary form-control" ng-disabled="validateForm.$invalid">Submit</button>

            <div class="alert" role="alert" ng-show="ctrl.status.code"
                 ng-class="{'alert-success': ctrl.status.code==200, 'alert-danger': ctrl.status.code==400,}">
                <button class="close" data-dismiss="alert">x</button>
                {{ctrl.status.message}}
            </div>

    	</form>
    </div>
</body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</html>